<!DOCTYPE html>



<html lang="es">



<head>



<meta charset="UTF-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Aerolínea Bits Colombia Pasajero</title>



<link href="https://fonts.googleapis.com/css?family=Bellota+Text&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">


<link rel="stylesheet" href="http://127.0.0.1:9000/Resources/css/toastr.min.css">



<link rel="stylesheet" href="http://127.0.0.1:9000/Resources/css/index2.css">
<link rel="stylesheet" href="http://127.0.0.1:9000/Resources/css/card.css">






</head>



<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #288deb;"> 



<a class="navbar-brand" href="Vrecepcionista">Aerolínea Bits</a> 


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> 


<span class="navbar-toggler-icon"></span> 


</button> 


<div class="collapse navbar-collapse" id="navbarNavDropdown"> 


<ul class="navbar-nav"> 


<li class="nav-item active"> 


<a class="nav-link" href="Vrecepcionista">Vuelos <span class="sr-only">(current)</span>


</a> 


</li> 


<li class="nav-item"> 


<a class="nav-link" href="reservasR">Reservas</a> 


</li> 


<li class="nav-item"> 

<a class="nav-link" href="Rpagos">Pagos</a> 

</li> 

<li class="nav-item"> 


<a class="nav-link" href="Rbalance">Balance Financiero</a> 

</li> 


</ul> 


</div> 


<form action="cerrar" method="POST"class="form-inline"> 


<button class="btn btn-outline-success " type="submit">Cerrar Sesion</button>


</form> 


</nav>



<script src="http://127.0.0.1:9000/Resources/js/jquery-3.4.1.min.js"></script>


<script src="http://127.0.0.1:9000/Resources/js/bootstrap.min.js"></script>


<script src="http://127.0.0.1:9000/Resources/js/toastr.min.js"></script>


<script src="http://127.0.0.1:9000/Resources/js/index.js"></script>




</body>



</html>






