<input type="checkbox" id="btn-modal">


<div class="modal">

<div class="contenedor">

<header>Balance Financiero</header>

<label for="btn-modal">X</label>

<div class="contenido">

<h3>Balance Financiero</h3>

<div class="col-md-6">

<p>Ganacia deL Vuelo:</p>

<input type="text" name="gana"

id="gana"

class="form-control" placeholder="Ganacia" readonly>

</div>

<div class="col-md-6">


    <p>Costo de la Tripulacion:</p>
    
    
    <input type="text" name="tripu"
    
    
    id="tripu"
    
    
    class="form-control" placeholder="Costo de la Tripulacion" readonly>
    
    
    </div>
    <div class="col-md-6">



        <p>Costo del Combustible:</p>
        
        <input type="text" name="combus"
        
        id="combus"
        
        class="form-control" placeholder="$ 2000000" readonly>
        
        </div>
        
        
    
    











</div>

</div>

</div>

