<div class="container">

    <div class="forms-container">
    
    <div class="signin-signup">
    
    <form action="login" method="POST" class="sign-in-form">
    
    <h2 class="title">Iniciar sesión en Aerolínea Bits</h2>
    
    <div class="input-field">
    
    <i class="fas fa-user"></i>
    
    <input type="text" id="usuario" name ="usuario" placeholder="Usuario" />
    
    </div>
    
    <div class="input-field">
    
    <i class="fas fa-lock"></i>
    
    <input id="contra" type="password" name="clave" placeholder="Contraseña" />
    
    </div>
    
    <input type="submit" value="Iniciar sesión" class="btn solid" />
    
    </form>
    
    </div>
    
    </div>
    
    
    <div class="panels-container">
    
    <div class="panel left-panel">
    
    <div class="content">
    
    </div>
    
    <img src="/Resources/img/avi.png" class="image" alt="" />
    
    </div>
    
    </div>
    
    </div>
    <script src="http://127.0.0.1:9000/Resources/js/Error.js"></script>
    
    